/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    color: #fff;
    background-color: #4D6D9A;
}

p:last-child {
    /* Represents last element amoung a group of sibling elements 
    clears the margins after paragragh before footer*/
    margin-bottom: 0;
}

a {
    color: rgb(128, 74, 33);
    text-decoration: none;
    margin: 5px;
    font-weight: bold;
}

a:hover {
    color: #fff;
    transition-duration: 0.5s;
}


/* ================================= 
    Base Layout Styles
==================================== */


/* ---- Navigation ---- */

.name {
    margin: 0;
}

.name a {
    color: #ffffff;
    background-color: rgb(70, 71, 72);
    padding: 3px 10px 3px 10px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 2px 5px #4d4c4c;
}


/* ---- Layout Containers ---- */

.container {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
}

.header {
    padding: 1.5em 1.5em;
    background: rgb(177, 176, 176);
    box-shadow: 0 2px 5px #525252;
    overflow: hidden;
}

.navigation {
    margin-top: 5px;
    margin-left: 23px;
}

.contact {
    float: left;
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container div {
    width: 20em;
    margin-right: 30px;
}

.footer {
    color: rgb(89, 176, 97);
    text-align: center;
    padding: 2em 0;
}

.footer span {
    margin-left: -10px;
}

.social-media {
    text-align: center;
    display: inline-block;
}

.social-media li {
    float: left;
    margin-right: 10px;
}


/* ================================= 
    Media Queries
==================================== */

@media (min-width: 780px) {
    .wrap {
        min-height: calc(100vh - 119px);
        /* Calculates vertical height minus footer height
        allows footer to stick to the bottom of wrap division */
    }
    .navigation {
        float: right;
    }
    .navigation li {
        float: left;
        margin-left: 25px;
    }
    .name {
        float: left;
    }
    .container {
        width: 80%;
        margin: 0 auto;
    }
}


/*contact form*/

form {
    /* Just to center the form on the page */
    margin: 20px auto 0px auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div+div {
    margin-top: 1em;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    text-decoration-color: #4D6D9A;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    width: auto;
    padding-left: 90px;
}

button {
    width: auto;
    margin-left: .5em;
}

form {
    color: darkblue;
    text-align: left;
}


/*counter formatting*/

.main_container {
    height: 46px;
    width: auto;
    padding: 3px;
    margin: 2px;
    max-width: 300px;
    background-color: #555555;
    align-content: center;
    color: black;
}

.container_inner {
    height: auto;
    border: none;
    background-color: #555555;
    max-width: 290px;
    vertical-align: center;
    padding-top: 12px;
    padding-left: 10px;
    align-content: center;
    color: black;
}

.num_tiles {
    width: 30px;
    height: 30px;
    background-color: #888888;
    color: black;
    font-size: 22px;
    text-align: center;
    line-height: 20px;
    padding: 3px;
    margin: 1.5px;
    font-family: verdana;
    vertical-align: center;
}